*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

header{
    background-color: #FFF8F3;
    background: url("../images/developer.png") , url("../images/header_bg.png") , #FFF8F3;
    padding-top: 43px;
    background-repeat: no-repeat;
    background-position: top left , bottom right;
}

nav .logo{
    width: 71%;
    max-width: 1140px;
    /* border: 1px solid red; */
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo h2{
    font-size: 45px;
    width: 589px;
    height: 61px;
    font-weight: 900;
    align-items: center;
    
}

.color-orange{
    color: #FD6E0A;
}

.menu{
    display: flex;
    list-style: none;
    gap: 51px;
    align-items: center;
}

nav .menu a{
    font-size: 20;
    text-decoration: none;
    color: #474747; 
    align-items: center;
}

.btn{
    background-color: #FD6E0A;
    color: white;
    border: none;
    border-radius: 5px;
    width: 150px;
    height: 65px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}

#banner {
    /* border: 1px solid red; */
    margin: 46px 38px 0px 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

#banner .banner-content h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}

#banner .banner-content h1{
    font-size: 85px;
    font-weight: bold;
    margin-bottom: 20px;
}
#banner .banner-content p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}

#banner .btn-background-color{
    background-color: white;
    color: #FD6E0A;
    border: 1px solid #FD6E0A;
    border-radius: 5px;
    width: 160px;
    height: 65px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}

#banner .banner-image img{
    max-width: 585px;
    vertical-align: middle;
}